@model MVC.Models.Product

@{
    ViewData["Title"] = "Edit Product";
}

<h2 class="text-center mt-4">Edit Product</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Quantity" class="form-label">Quantity</label>
        <input asp-for="Quantity" type="number" class="form-control" id="Quantity" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageFile" class="control-label">Upload New Image</label>

        <!-- Input file để người dùng có thể tải lên file mới -->
        <input asp-for="ImageFile" type="file" class="form-control" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>

        <!-- Input text để hiển thị tên file ảnh hiện tại -->
        <input type="text" value="@System.IO.Path.GetFileName(Model.ImageUrl)" class="form-control mt-2" readonly />
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
